@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
   @apply bg-white !important;
  }
  body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Montserrat', sans-serif !important;
    @apply p-0 m-0;
  } 
 header {
  @apply bg-white-true;
 }
}
main {
  padding: 0;
  margin: 0;
  position: relative;
}

@media screen and (min-width: 1250px) {
  main {

  }
}

@media screen and (min-width: 1450px) {
  main {

  }

}
