@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
   /* display: flex; */
   font-family: 'Montserrat', sans-serif !important;
 }
}
main {
  padding: 0;
  margin: 0;
  position: relative;
}

@media screen and (min-width: 1250px) {
  main {

  }
}

@media screen and (min-width: 1450px) {
  main {

  }

}
