@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  /* display: flex; */
  font-family: 'Montserrat', sans-serif;
}
main {
  padding: 0;
  margin: 0;
  position: relative;
}

@media screen and (min-width: 1250px) {
  main {

  }
}

@media screen and (min-width: 1450px) {
  main {

  }

}
